<!DOCTYPE html>
<html ng-app="tests">
<head>
    <title>TestProj</title>

    <!-- build:css css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/application.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- endbuild -->

    <!-- build:js lib/third-party.js -->
    <!-- bower:js -->
    <script src="lib/dependencies/angular.min.js"></script>
    <script src="lib/dependencies/angular-resource.min.js"></script>
    <script src="lib/dependencies/jquery.min.js"></script>
    <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/dependencies/ng-grid.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js script/all.js -->
    <script src="script/test.js"></script>
    <!-- endbuild -->
</head>

<body>

<h1>Spring-Hibernate-Angular Application</h1>

<br/>

<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<br>

<div class="grid" ng-controller="testsListController">
    <div>
        <h3>Test List</h3>
    </div>

    <div class="gridStyle" ng-grid="gridOptions"></div>

    <pagination direction-links="true" boundary-links="true"
                total-items="tests.totalResults" items-per-page="tests.pageSize"
                ng-model="tests.currentPage" ng-change="refreshGrid()">
    </pagination>
</div>

<div class="form" ng-controller="testsFormController">
    <div ng-if="test.id == null">
        <h3>Add row</h3>
    </div>
    <div ng-if="test.id != null">
        <h3>Edit row</h3>
    </div>

    <div>
        <form name="testForm" ng-submit="updateTest()" novalidate>

            <div class="form-group" ng-class="{'has-error' : testForm.parametertext.$invalid && testForm.parametertext.$dirty}">
                <label for="parametertext">parameter_Text:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : testForm.parametertext.$valid && testForm.parametertext.$dirty}"></span>

                <input id="parametertext" name="parametertext" type="text" class="form-control" maxlength="50"
                       ng-model="test.parametertext"
                       required ng-minlength="2" ng-maxlength="50"/>

                <p class="help-block" ng-show="testForm.parametertext.$error.required">Add parameter_Text.</p>
                <p class="help-block" ng-show="testForm.parametertext.$error.minlength">Parameter_Text must be at least 2 characters long.</p>
                <p class="help-block" ng-show="testForm.parametertext.$error.maxlength">Parameter_Text cannot be longer than 50 characters.</p>
            </div>

            <div class="form-group" ng-class="{'has-error' : testForm.parameterint.$invalid && testForm.parameterint.$dirty}">
                <label for="parameterint">parameter_Int:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : testForm.parameterint.$valid && testForm.parameterint.$dirty}"></span>

                <input id="parameterint" name="parameterint" type="number" class="form-control" maxlength="100"
                       ng-model="test.parameterint"
                       required >

                <p class="help-block" ng-show="testForm.parameterint.$error.required">Add parameter_Int.</p>
                <p class="help-block" ng-show="testForm.parameterint.$error.minlength">Parameter_Int must be Int.</p>
                <p class="help-block" ng-show="testForm.parameterint.$error.maxlength">Parameter_Int cannot be longer than 100 characters.</p>
                <p class="help-block" ng-show="testForm.parameterint.$error.pattern">Input Integer.</p>
            </div>            
            
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-disabled="testForm.$invalid">Save</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
